:root {
  --clr-neutral-100: #e6f4fb;
  --clr-neutral-400: hsl(200, 72%, 92%);
  --clr-neutral-500: #b6c6ce;
  --clr-neutral-900: #1e2a31;

  --clr-accent-100: #f2f9fc;
  --clr-accent-400: #2699d2;
  --clr-accent-500: #1b84bd;
  --clr-accent-900: #0a3c52;

  --ff-primary: "bebas-neue-pro", sans-serif;
  --ff-secondary: "bebas-neue-pro-semiexpanded", sans-serif;
  --ff-tertiary: "bebas-neue-pro-expanded", sans-serif;

  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;

  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.25rem;
  --fs-700: 1.5rem;
  --fs-800: 1.75rem;

  --br: 7px;
  --br-button: 4px;

  --border-neutral-100: 2px solid var(--clr-marble-white);
  --border-neutral-800: 2px solid var(--clr-charcoal-black);
  --border-accent: 2px solid var(--clr-luxury-gold);

  --spacer: 1.25rem;
  --layout-spacer: 1.25rem;
}

@media (min-width: 768px) {
  :root {
    --layout-spacer: 3.75rem;
  }
}
@media (min-width: 1280px) {
  :root {
    --fs-300: 0.9375rem;
    --fs-400: 1.125rem;
    --fs-500: 1.5rem;
    --fs-600: 1.875rem;
    --fs-700: 2.5rem;
    --fs-800: 3rem;

    --layout-spacer: 3.75rem;
  }
}

@media (min-width: 1441px) {
  :root {
    --layout-spacer: 8.75rem;
  }
}

/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

body,
h1,
h2,
h3,
p,
dl,
dd {
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: var(--br);
}

body {
  line-height: 1.2;
}

/* typography */

h1,
h2 {
  font-weight: var(--fw-400);
}

h3 {
  font-weight: var(--fw-600);
  text-transform: uppercase;
}

.text-500 {
  font-size: var(--fs-500);
}

.text-600 {
  font-size: var(--fs-600);
}

.text-700 {
  font-size: var(--fs-700);
}

.fw-600 {
  font-weight: var(--fw-600);
}

.page-title {
  font-family: var(--ff-tertiary);
  font-size: var(--fs-800);
  font-weight: var(--fw-700);
}

.page-subtitle {
  font-size: var(--fs-600);
  font-weight: var(--fw-600);

  --flow-spacer: 0.25rem;
}

.section-title {
  font-size: var(--fs-700);
  font-weight: var(--fw-700);
  font-family: var(--ff-secondary);
}

/* utility classes */

.accent-400 {
  color: var(--clr-accent-400);
}
.accent-500 {
  color: var(--clr-accent-500);
}
.accent-900 {
  color: var(--clr-accent-900);
}

.bg-accent-100 {
  background-color: var(--clr-accent-100);
}
.bg-accent-400 {
  background-color: var(--clr-accent-400);
  color: var(--clr-accent-100);
}

.bg-neutral-500 {
  background-color: var(--clr-neutral-500);
}
.bg-neutral-900 {
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
}

/* general styling */
body {
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
}

ul[class],
ol[class] {
  padding: 0 0 0 0.825em;
  margin-block-end: 0;
  overflow-x: hidden;
}

ul > li::marker {
  content: "-  ";
}
/* smooth srolling */
html {
  scroll-behavior: smooth;
}

/* general layout */

section,
footer {
  padding-block: 2.5rem;
}

@media (min-width: 40em) {
  section {
    padding-block: 5rem;
  }
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding-inline: var(--layout-spacer);
}

.flow-content > * + * {
  margin-top: var(--flow-spacer, var(--spacer));
}

.even-columns {
  display: grid;
  gap: var(--gap, 1.25rem);
}

@media (min-width: 768px) {
  .even-columns {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}

.space {
  margin-top: 1.25rem;
}
.xl-space {
  margin-top: 2.5rem;
}

/* components */

.button {
  display: inline-flex;
  cursor: pointer;
  border: 0;
  font-size: var(--button-fs);
  font-weight: var(--fw-600);
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--fg, var(--clr-neutral-100));
  background-color: var(--button-bg, var(--clr-accent-400));
  padding-block: 1rem;
  padding-inline: 1.5rem;
  max-width: fit-content;
  border-radius: var(--br-button);
}

.button > * + * {
  margin-left: 0.5em;
}

.button:hover,
.button:focus {
  --button-bg: var(--clr-accent-500);
}

.button__text {
  align-self: center;
}

.button--md {
  --button-fs: var(--fs-600);
}
.button--lg {
  --button-fs: var(--fs-700);
}

.button--light {
  --fg: var(--clr-accent-400);
  --button-bg: var(--clr-neutral-100);
}

.button--light:hover {
  --button-bg: var(--clr-neutral-400);
}

.primary-header {
  min-height: 100vh;
  padding-block-start: var(--spacer);
  padding-block-end: 2.5rem;
  background-image: url("assets/hero_image-mobile.jpg");
  background-size: cover;
  background-position: center;
}

.cta .form {
  padding: 1.25rem;
  justify-self: center;
  border-radius: var(--br);
}

.form > hr {
  border: none;
  background: var(--clr-neutral-500);
  height: 4px;
  border-radius: 3px;
}

.form__buttons {
  display: flex;
  gap: 0.625em;
}

.form button {
  flex: 1 1 100%;
  max-width: 100%;
  justify-content: center;
  font-size: var(--fs-500);
}

form button {
  font-family: var(--ff-tertiary);
  font-weight: var(--fw-700);
  margin-top: 1.25rem;
}

.form form {
  display: none;
  flex-direction: column;
}

.form label {
  margin-top: 0.75rem;
}

.form input {
  margin-top: 0.125rem;
  padding-block: 0.5rem;
  border-radius: 3px;
  border-style: none;
  padding-left: 0.25rem;
  font-family: var(--ff-tertiary);
}

.form input::placeholder {
  color: var(--clr-neutral-500);
}

.form__not-allowed {
  display: none;
  font-size: var(--fs-600);
  font-family: var(--ff-secondary);
  font-weight: var(--fw-600);
}

footer p {
  max-width: 75ch;
}

@media (min-width: 1280px) {
  .cta .form {
    padding: 2.5rem;
  }
}

/* individual sections */
.primary-header > .container {
  height: 95vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

.intro {
  background-color: var(--clr-accent-100);
  border-radius: var(--br);
  padding: var(--spacer);
  text-align: center;
  align-self: end;
}

.warning p {
  --flow-spacer: 0.5rem;
}

.warning li {
  --flow-spacer: 0.5rem;
}

.inspection .image-container {
  position: relative;
}

.image-container > .button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.cta .section-title {
  --flow-spacer: 0.5rem;
}

@media (min-width: 768px) {
  .primary-header {
    background-image: url("assets/hero_image-desktop.jpg");
  }

  .intro {
    --spacer: 2.5em;

    justify-self: start;
    margin-bottom: 2.5rem;
  }

  .intro .button {
    --flow-spacer: 2rem;
  }

  .form {
    align-self: start;
  }
}
